@charset "utf-8";


.container {
	background-color: #FF0000;
	height: 200px;
	width: auto;
	background-color: red;
	display: -webkit-box;
	/*display: -webkit-flex;
	display: flex;*/
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-box-align: center;
	-webkit-box-lines: single;
}

.item {
	height: 100px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	background-color: darkmagenta;
	-webkit-box-align: center;
	-webkit-box-flex: 1;
	-webkit-box-pack: center;
}
.item:nth-child(1) {
	-webkit-box-flex-group: 1;
	background-color: aqua;
}

.item:nth-child(2) {
	-webkit-box-flex-group: 2;
	background-color: green;
}

.item:nth-child(3) {
	-webkit-box-flex-group: 4;
	background-color: cyan;
}
